<div id="page-content-wrapper">

    <!--  右边主机内容-->

    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <a class="navbar-brand" href="#">主机管理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="btnBatAdd" data-toggle="modal" data-target="#addModalHost">创建事件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btnBatDelete">批量删除</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" id="searchbox" type="text" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>                      -->
            </form>
        </div>
    </nav>



    <table id="mytable" class="table table-striped table-hover table-sm" data-toggle="table">
        <thead class="thead-light">
            <tr>
                <th>
                    <input type="checkbox" id="select-all" onclick="selectAll()">
                </th>
                <th>ID</th>
                <th class="visible-xs-block">事件</th>
                <th class="hidden-xs">纬度</th>
                <th class="visible-xs-block">经度</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for row in solar_list %}
            <tr>
                <td>
                    <input type="checkbox" name="selected" value="{'ID':{{ row.id }},'manageIP':'{{ row.manageIP}}'}" onclick="oneToAll()" />
                </td>
                <td>{{ row.id }}</td>
                <td class="hidden-xs">{{ row.event }}</td>
                <td class="visible-xs-block">{{ row.latitude }}</td>
                <td>{{ row.longitude }}</td>
                <td>
                    <button type="button" class="singleButton" id="{{ row.id }}" name="btn" onclick="toEditCluster('mytable',this)" data-toggle="modal"
                        data-target="#editModalCluster">
                        <i class="fa fa-edit fa-4"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="singleButton" id="{{ row.id }}" name="btn" onclick="toDeleteCluster('mytable',this)" data-toggle="modal"
                        data-target="#delModalCluster">
                        <i class="fas fa-trash-alt fa-4"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!--  添加设备模态对话框-->
<form role="form" action="/add_host/" method="post">
    <!-- 模态框 -->
    <div class="modal fade" id="addModalHost">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        添加设备
                    </h4>
                </div>

                <!-- 模态框主体 -->

                <div class="modal-body">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <select class="form-control" name="roomNO">
                                <option value="A机房">A机房</option>
                                <option value="B机房">B机房</option>
                                <option value="C机房">C机房</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="cabinetNO" placeholder="机柜编号">
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control input-sm" type="text" name="bladeBoxNO" placeholder="刀箱编号">
                        </div>
                        <div class="col-lg-3 form-group">
                            <select class="form-control" name="bladeNO">
                                <option value="">刀片</option>
                                <option value="01号">01号</option>
                                <option value="02号">02号</option>
                                <option value="03号">03号</option>
                                <option value="04号">04号</option>
                                <option value="05号">05号</option>
                                <option value="06号">06号</option>
                                <option value="07号">07号</option>
                                <option value="08号">08号</option>
                                <option value="09号">09号</option>
                                <option value="10号">10号</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="hostName" placeholder="主机名">
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="serviceIP" placeholder="业务IP" required>
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="manageIP" placeholder="管理IP" required>
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="storageIP" placeholder="存储IP" required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="service" placeholder="操作系统">
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="hardware" placeholder="硬件型号">
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="text" name="ipmiUser" placeholder="IPMI用户名" required>
                        </div>
                        <div class="col-lg-3 form-group">
                            <input class="form-control" type="password" name="ipmiPassword" placeholder="IPMI密码" required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <select class="form-control" name="clusterName" required>
                                <option value="">选择集群</option>
                                {% for cluster in cluster_list %}
                                <option value="{{ cluster.id }}">{{ cluster.clusterName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>


                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>

            </div>
        </div>
    </div>
</form>


<!--  删除设备的模态-->
<form method="post" role="form" id="delForm">
    {% csrf_token %}
    <div id="delModalHost" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        删除设备
                    </h4>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    确定要删除ID为[<span id="spanId"></span>]的设备吗?
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
    </div>
</form>