<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ClusterManager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    {% block baseCss %}
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/css/custom/body.css">
    <link rel="stylesheet" href="/static/css/custom/subrange.css">
    <link rel="stylesheet" href="/static/css/custom/sidebar.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css"> 
    {% endblock %}
</head>

{% block baseBody %}
<body>
    {% endblock %}
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!-- Add your site or application content here -->


    {% block baseScript %}
    <script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/intercooler-1.2.1.min.js"></script>
    <script></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script> 
    {% endblock %}
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    
</body>

</html>