<div id="page-content-wrapper">

    <!--  右边主机内容-->

    <div id="toolbar">
        <div class="form-inline" role="form">
            &ensp;
            <button id="btnBatAdd" class="btn btn-xs btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal"
                data-target="#addModalCluster">添加集群</button>
            &ensp;
            <button id="btnBatDelete" class="btn btn-xs btn-outline-success my-2 my-sm-0" type="submit" data-toggle="#btnBatDelete">批量删除</button>
        </div>
    </div>

    <table id="mytable" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
        data-show-columns="true" data-detail-view="false" data-detail-formatter="detailFormatter"
        data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
        data-page-list="[15, 25, 50, 100, 'ALL']" data-show-footer="false" data-side-pagination="server" data-url="{% url 'cluster_info_query' %}"
        data-response-handler="responseHandler" data-striped="true" data-search-time-out="500" data-sortable="true"
        data-page-size="15" data-row-style="rowStyle">
    </table>
</div>

<!--  添加集群模态对话框-->
<form role="form" action="/add_cluster/" method="post">
    <!-- 模态框 -->
    <div class="modal fade" id="addModalCluster">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        添加集群
                    </h4>
                </div>

                <!-- 模态框主体 -->

                <div class="modal-body">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="clusterName" placeholder="集群名称" required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="deviceNumber" placeholder="设备数量">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control input-sm" type="text" name="customerName" placeholder="客户名称">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactPerson" placeholder="联系人">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactPhone" placeholder="联系电话">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactEmail" placeholder="邮件">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactQQ" placeholder="QQ">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactQQ" placeholder="微信">
                        </div>
                    </div>
                </div>


                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>

            </div>
        </div>
    </div>
</form>

<!--  修改集群模态对话框-->
<form role="form" method="post" id="editFormCluster">
    <!-- 模态框 -->
    <div class="modal fade" id="editModalCluster">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        修改集群
                    </h4>
                </div>

                <!-- 模态框主体 -->

                <div class="modal-body">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="clusterName" placeholder="集群名称" required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="deviceNumber" placeholder="设备数量">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control input-sm" type="text" name="customerName" placeholder="客户名称">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactPerson" placeholder="联系人">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactPhone" placeholder="联系电话">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactEmail" placeholder="邮件">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactQQ" placeholder="QQ">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input class="form-control" type="text" name="contactWeicat" placeholder="微信">
                        </div>
                    </div>
                </div>


                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>

            </div>
        </div>
    </div>
</form>


<!--  删除集群的模态-->
<form method="post" role="form" id="delFormCluster">
    {% csrf_token %}
    <div id="delModalCluster" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        删除集群
                    </h4>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    确定要删除ID为[<span id="spanId"></span>]的集群吗?
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
    </div>
</form>