<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/css/custom/body.css">
<link rel="stylesheet" href="/static/css/custom/subrange.css">
<link rel="stylesheet" href="/static/css/custom/sidebar.css">
<link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/vendor/bootstrap-table.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<link rel="stylesheet" href="/static/css/vendor/jquery-confirm.min.css">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/main.css">