<script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/static/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/static/js/vendor/popper.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/bootstrap-table.min.js"></script>
<script src="/static/js/vendor/bootstrap-table-locale-all.min.js"></script>
<script src="/static/js/vendor/intercooler-1.2.1.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<!-- custom -->
<script src="/static/js/custom/csrftoken.js"></script>
<script src="/static/js/custom/ipmi.js"></script>
<script src="/static/js/custom/selectall.js"></script>
<!-- Menu Toggle Script -->
<script src="/static/js/custom/sidebar.js"></script>
<script src="/static/js/custom/search.js"></script>
<script src="/static/js/custom/tooltip.js"></script>
<script>
    $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
</script>