<div id="page-content-wrapper">

    <!--  右边主机内容-->

    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <a class="navbar-brand" href="#">监控信息</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" id="batchBtn1" onclick="toBatchPowerOn('mytable',this)">批量开机</a> -->
                    <div style="position: relative; top: 0px; width: 200px; margin: 0 auto;">
                        <input class="form-control" id="startDateTime" placeholder="2018-12-01 04:06:54">
                    </div>
                </li>
                <li>
                    <div style="position: relative; top: 0px; width: 10px; margin: 0 auto;">
                    </div>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" id="batchBtn2" onclick="toBatchPowerOff('mytable',this)">批量关机</a> -->
                    <div style="position: relative; top: 0px; width: 200px; margin: 0 auto;">
                        <input class="form-control" id="endDateTime" placeholder="截至时间">
                    </div>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="batchBtn" onclick="toCountPowerStatus('mytable',this)">查询</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" id="searchbox" type="text" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>                      -->
            </form>
        </div>
    </nav>



    <table id="mytable" data-toggle="table" data-side-pagination="client" data-pagination="true" data-search="false" data-show-refresh="false"
        data-height="653" data-show-toggle="false" data-show-columns="false" data-detail-view="false" data-detail-formatter="detailFormatter"
        data-minimum-count-columns="2" data-show-pagination-switch="false" data-pagination="true" data-page-size="10" data-page-list="[10, 25, 50, 100, ALL]"
        data-show-footer="false" data-sort-name="id" data-sort-order="desc" data-row-style="rowStyle" data-striped="true">

        <thead class="thead-light">
            <tr>
                <th>
                    <input type="checkbox" id="select-all" onclick="selectAll()">
                </th>
                <th>ID</th>
                <th>业务IP</th>
                <th>管理IP</th>
                <th>存储IP</th>
                <th>集群</th>
                <th>监测周期</th>
                <th>监测时长</th>
                <th>开机时长</th>
                <th>关机时长</th>                
                <th>监测失败</th>
            </tr>
        </thead>
        <tbody>
            {% for row in obj %}
            <tr>
                <td>
                    <input type="checkbox" name="selected" value="{'ID':{{ row.id }},'manageIP':'{{ row.manageIP}}'}" onclick="oneToAll()" />
                </td>
                <td>{{ row.id }}</td>
                <td>{{ row.serviceIP }}</td>
                <td>{{ row.manageIP }}</td>
                <td>{{ row.storageIP }}</td>
                <td>{{ row.clusterName.clusterName }}</td>
                <td>{{ row.powerOnTime|date:"Y-m-d H:i:s" }}</td>
                <td>{{ row.powerOffTime|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <a href="/power_history-{{ row.id }}/">{{ row.countPowerOnHour }}:{{ row.countPowerOnMinute }}'</a>
                </td>
                <td>{{ row.countPowerOffHour }}:{{ row.countPowerOffMinute }}'</td>                
                <td>{{ row.countPowerFailHour }}:{{ row.countPowerFailMinute }}'</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>