<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div>
        <div class="navbar-header fixed-brand" style="float: left;">
            <a class="navbar-brand" href="/index/">
                <i class="fab fa-earlybirds fab-9"></i> IT集群自动化管理系统</a>
        </div>
        <div style="float: left;">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
                <i class="fa fa-align-justify"></i>
            </a>
        </div>
    </div>
    <div class="username">
        当前用户: {{ user.username }}
        <a href="/accounts/logout" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i></a>
    </div>

    <!-- navbar-header-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
            </li>
        </ul>
    </div>
    <!-- bs-example-navbar-collapse-1 -->
</nav>


<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
                <a href="#" data-toggle="collapse" data-target=".collapse1">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-tachometer-alt  fa-stack-1x "> </i>
                    </span>仪表板</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/dashboard1/" class="collapse collapse1 show" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-chart-line fa-stack-1x "></i>
                            </span>资产统计</a>
                    </li>
                    <li>
                        <a href="/dashboard2/" class="collapse collapse1 show" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-chart-bar fa-stack-1x "></i>
                            </span>任务统计</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse2">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-server fa-stack-1x "></i>
                    </span>主机管理</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/host_info/" class="collapse collapse2" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-rocket fa-stack-1x "></i>
                            </span>主机管理</a>
                    </li>
                    <li>
                        <a href="/host_power/" class="collapse collapse2" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fab fa-superpowers fa-stack-1x "></i>
                            </span>电源管理</a>
                    </li>
                    <li>
                        <a href="/host_boot/" class="collapse collapse2" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-play fa-stack-1x "></i>
                            </span>启动项管理</a>
                    </li>
                    <li>
                        <a href="/host_remote/" class="collapse collapse2" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fab fa-telegram-plane fa-stack-1x "></i>
                            </span>远程控制</a>
                    </li>                   
                </ul>
            </li>

            <li>
                    <a href="#" data-toggle="collapse" data-target=".collapse10">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-brain fa-stack-1x "></i>
                        </span>系统安装</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">                        
                        <li>
                            <a href="/install_device/" class="collapse collapse10" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="far fa-registered fa-stack-1x "></i>
                                </span>安装管理</a>
                        </li>
                        <li>
                            <a href="/install_info/" class="collapse collapse10" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fas fa-list-ul fa-stack-1x "></i>
                                </span>待装列表</a>
                        </li>
                        <li>
                            <a href="/install_process/" class="collapse collapse10" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fas fa-video fa-stack-1x "></i>
                                </span>正在安装</a>
                        </li>
                        <li>
                                <a href="/install_sucess/" class="collapse collapse10" data-parent="#menu">
                                    <span class="fa-stack fa-lg pull-left">
                                        <i class="fas fa-check fa-stack-1x "></i>
                                    </span>安装成功</a>
                            </li>
                        <li>
                            <a href="/install_fail/" class="collapse collapse10" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fas fa-times fa-stack-1x "></i>
                                </span>安装失败</a>
                        </li>
                    </ul>
                </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse3">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-heartbeat fa-stack-1x "></i>
                    </span>综合监控</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/monitor_info/" class="collapse collapse3" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-signal fa-stack-1x "></i>
                            </span>监控信息</a>
                    </li>
                    <li>
                        <a href="/monitor_device/" class="collapse collapse3" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-map-marker-alt fa-stack-1x "></i>
                            </span>监控管理</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse4">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fab fa-accusoft fa-stack-1x "></i>
                    </span>资产管理</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/add_cluster/" class="collapse collapse4" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-layer-group fa-stack-1x "></i>
                            </span>集群登记</a>
                    </li>
                    <li>
                        <a href="/add_host/" class="collapse collapse4" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-info-circle fa-stack-1x "></i>
                            </span>主机登记</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse5">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-robot fa-stack-1x "></i>
                    </span>自动化</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/inspect_info/" class="collapse collapse5" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fab fa-tripadvisor fa-stack-1x "></i>
                            </span>日常巡检</a>
                    </li>
                    <li>
                        <a href="/periodic_task/" class="collapse collapse5" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-calendar-alt fa-stack-1x"></i>
                            </span>计划任务</a>
                    </li>
                    <li>
                        <a href="/crontab_schedule/" class="collapse collapse5" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-clock fa-stack-1x "></i>
                            </span>周期配置</a>
                    </li>
                    <li>
                        <a href="/interval_schedule/" class="collapse collapse5" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-list-alt fa-stack-1x "></i>
                            </span>间隔配置</a>
                    </li>
                    <li>
                        <a href="/solar_schedule/" class="collapse collapse5" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-sun fa-stack-1x "></i>
                            </span>太阳事件</a>
                    </li>
                    <li>
                        <a href="/task_result/" class="collapse collapse5" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-binoculars fa-stack-1x "></i>
                            </span>任务结果</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse6">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-file-invoice-dollar fa-stack-1x "></i>
                    </span>综合计费</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/billing_info/" class="collapse collapse6" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-money-check-alt fa-stack-1x "></i>
                            </span>账单信息</a>
                    </li>
                    <li>
                        <a href="/billing_device/" class="collapse collapse6" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-money-check fa-stack-1x "></i>
                            </span>计费管理</a>
                    </li>
                    <li>
                        <a href="/billing_price/" class="collapse collapse6" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-dollar-sign fa-stack-1x "></i>
                            </span>单价设置</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse7">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-file fa-stack-1x "></i>
                    </span>导入导出</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="/import/" class="collapse collapse7" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-file-import fa-stack-1x "></i>
                            </span>导入数据</a>
                    </li>
                    <li>
                        <a href="/export/" class="collapse collapse7" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-file-export fa-stack-1x "></i>
                            </span>导出数据</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse8">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-pen-nib fa-stack-1x "></i>
                    </span>事件日志</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="#" class="collapse collapse8" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fas fa-cart-arrow-down fa-stack-1x "></i>
                            </span>事件</a>
                    </li>
                    <li>
                        <a href="#" class="collapse collapse8" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-cart-plus fa-stack-1x "></i>
                            </span>日志</a>
                    </li>
                    <li>
                            <a href="#" class="collapse collapse8" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fas fa-exclamation-triangle fa-stack-1x "></i>
                                </span>告警</a>
                        </li>
                </ul>
            </li>

            <li>
                <a href="#" data-toggle="collapse" data-target=".collapse9">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fab fa-stack-overflow fa-stack-1x "></i>
                    </span>运营管理</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="#" class="collapse collapse9" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-address-card  fa-stack-1x "></i>
                            </span>关于</a>
                    </li>
                    <li>
                        <a href="#" class="collapse collapse9" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-wrench fa-stack-1x "></i>
                            </span>服务</a>
                    </li>
                    <li>
                        <a href="#" class="collapse collapse9" data-parent="#menu">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-phone fa-stack-1x "></i>
                            </span>联系</a>
                    </li>
                </ul>
            </li>

            <li>
                    <a href="#" data-toggle="collapse" data-target=".collapse11">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fas fa-cogs fa-stack-1x "></i>
                        </span>配置中心</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li>
                            <a href="/user_setting/" class="collapse collapse11" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-user-cog  fa-stack-1x "></i>
                                </span>用户</a>
                        </li>
                        <li>
                            <a href="#" class="collapse collapse11" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fas fa-users fa-stack-1x "></i>
                                </span>组</a>
                        </li>
                        <li>
                            <a href="#" class="collapse collapse11" data-parent="#menu">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-cog fa-stack-1x "></i>
                                </span>其他</a>
                        </li>
                    </ul>
                </li>
        </ul>
    </div>