{% extends 'extends/base.html' %} 
{% block baseCss %}

{% include 'include/css.html' %}

{% endblock %}
{% block baseBody %}
{% include "include/sidebar.html"%}
<!-- Add your site or application content here -->

   
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
 {% include 'include/celery/beat/crontab_schedule_content.html' %}
      
   

        <!-- /#page-content-wrapper -->
        <div id="preloader">
                <div class="loader" id="loader-1"></div>
    </div>
    <!-- /#wrapper -->

    {% endblock %} {% block baseScript %}

    {% include 'include/js.html'%}
  
     <script>   
     
     /*         编辑集群的模态*/
    function toEditCrontab(id, e) {
        /*            获取当前点击事件标签上的id*/

        var getID = e.parentNode.parentNode.children[1].innerHTML;
        var getMinute = e.parentNode.parentNode.children[2].innerHTML;
        var getHour = e.parentNode.parentNode.children[3].innerHTML;
        var getDay_of_week = e.parentNode.parentNode.children[4.innerHTML;
        var getDay_of_month = e.parentNode.parentNode.children[5].innerHTML;
        var getMonth_of_year = e.parentNode.parentNode.children[6].innerHTML;
        
        console.log("getid = " + getID)
        // document.body.onclick = function (event) { 部分浏览器不支持此方法，改用如上parentNode方式。
        //     var id = event.target.id;
        //     console.log(id);
        if (getID) { 
            var link = "/crontab_edit-" + getID + '/';
            console.log(link);
            /*set the form action*/
            $('#editFormCrontab').attr('action', link)
            $("#spanId").html(getID);          
            //name selector $("input[name= ' '").val()            
            $("input[name='minute']").val(getMinute);
            $("input[name='hour']").val(getHour);
            $("input[name='day_of_week']").val(getDay_of_week);
            $("input[name='day_of_month']").val(getDay_of_month);
            $("input[name='month_of_year']").val(getMonth_of_year);            

        }

    };

        /*         删除的模态*/
        function toDeleteCrontab(id, e) {
            /*            获取当前点击事件标签上的id*/

            var getID = e.parentNode.parentNode.children[0].innerHTML;
            console.log("getid = " + getID)
            // document.body.onclick = function (event) { 部分浏览器不支持此方法，改用如上parentNode方式。
            //     var id = event.target.id;
            //     console.log(id);
            if (getID) {
                var link = "/crontab_del-" + getID + '/';
                console.log(link);
                /*set the form action*/
                $('#delForm').attr('action', link)
                $("#spanId").html(getID);

            }

        };

    </script>  
  
    
     {% endblock %}