{% extends 'extends/base.html' %} 
{% block baseCss %}
{% include 'include/css.html'%}
{% endblock %}
{% block baseBody %}
{% include "include/sidebar.html"%}
<!-- Add your site or application content here -->

   
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
 {% include 'include/celery/beat/solar_schedule_content.html' %}
      
   

        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% endblock %} {% block baseScript %}
    
    {% include 'include/js.html'%}
    
     {% endblock %}