{% extends 'extends/base.html' %} 
{% block baseCss %} 
{% include 'include/css.html' %} 
{% endblock %} 
{% block baseBody %}
{% include "include/sidebar.html"%}
<!-- Add your site or application content here -->


<!-- /#sidebar-wrapper -->
<!-- Page Content -->
{% include 'include/add_host_content.html' %}



<!-- /#page-content-wrapper -->
<div id="preloader">
        <div class="loader" id="loader-1"></div>
</div>
<!-- /#wrapper -->

{% endblock %} 
{% block baseScript %} 
{% include 'include/js.html' %}
<script src="/static/js/custom/operatehost.js"></script>
    <script>

        var sendHandler = function(data) {
            console.log(data);
            diaologMaster.showSuccess();
        }
        diaologMaster.init("form-node", masterTemplate, sendHandler);
    </script>
<script>
        var $table = $('#mytable'),
            $remove = $('#remove'),
            selections = [];
        function initTable() {
            $table.bootstrapTable({
                height: getHeight(),
                //由于bootstrap 4.0停止使用glyphicon，所以改用fontawesome
                iconsPrefix: 'fas',
                icons: {
                    paginationSwitchDown: 'fa-eye',
                    paginationSwitchUp: 'fa-eye-slash',
                    refresh: 'fa-sync',
                    toggle: 'fa-toggle-off',
                    columns: 'fa-columns',
                    detailOpen: 'glyphicon-plus icon-plus',
                    detailClose: 'glyphicon-minus icon-minus'
                },
                columns: [
                    [
                        {
                            field: 'state',
                            checkbox: true,
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            field: 'id',
                            title: 'ID',
                            sortable: true,
                            footerFormatter: totalNameFormatter,
                            align: 'center'
                        }, {
                            field: 'roomNO',
                            title: '机房',
                            sortable: true,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'cabinetNO',
                            title: '机柜',
                            sortable: true,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'bladeBoxNO',
                            title: '刀箱',
                            sortable: true,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'bladeNO',
                            title: '刀片',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'hostName',
                            title: '主机名',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'serviceIP',
                            title: '业务IP',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'manageIP',
                            title: '管理IP',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'storageIP',
                            title: '存储IP',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'clusterName',
                            title: '集群',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'hardware',
                            title: '型号',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'service',
                            title: '操作系统',
                            sortable: false,
                            align: 'center',
                            footerFormatter: totalPriceFormatter
                        }, {
                            field: 'operate',
                            title: '操作',
                            align: 'center',
                            events: operateEvents,
                            formatter: operateFormatter
                        }
                    ]
                ]
            });
            // sometimes footer render error.
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
                    // save your data, here just save the current page
                    selections = getIdSelections();
                    // push or splice the selections if you want to save all data selections
                });
            //此处有BUG
            //$table.on('expand-row.bs.table', function (e, index, row, $detail) {
            //    if (index % 2 == 1) {
            //        $detail.html('Loading from ajax request...');
            //        $.get('LICENSE', function (res) {
            //           $detail.html(res.replace(/\n/g, '<br>'));
            //        });
            //    }
            //});
            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args);
            });
            $remove.click(function () {
                var ids = getIdSelections();
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $remove.prop('disabled', true);
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });
        }
        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }
        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1;
            });
            return res;
        }
        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            });
            return html.join('');
        }
        function operateFormatter(value, row, index) {
            return [
                '<button type="button" class="singleButton" id="{{ row.id }}" name="btn" onclick="toEditHost(\'mytable\',this)" data-toggle="modal" data-target="#editModalHost">',
                '<i class="fa fa-edit fa-4"></i>',
                '</button>',
                '<button type="button" class="singleButton" id="{{ row.id }}" name="btn" onclick="toDeleteHost(\'mytable\',this)" data-toggle="modal" data-target="#delModalHost">',
                '<i class="fas fa-trash-alt fa-4"></i>',
                '</button>'
            ].join('');
        }
        window.operateEvents = {
            'click .custom-switch': function (e, value, row, index) {
                //alert('You click like action, row: ' + JSON.stringify(row));      
            }
        };
        function totalTextFormatter(data) {
            return 'Total';
        }
        function totalNameFormatter(data) {
            return data.length;
        }
        function totalPriceFormatter(data) {
            var total = 0;
            $.each(data, function (i, row) {
                total += +(row.price.substring(1));
            });
            return '$' + total;
        }
        //表格高度=窗口高度-表格上方控件高度
        function getHeight() {
            return $(window).height() - $('nav').outerHeight(true);
        }
        $(function () {
            initTable();
        });
        //定制表格每行颜色
        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];
            if (index % 2 === 0 && index / 2 < classes.length) {
                return {
                    classes: classes[index / 2]
                };
            }
            return {};
        };
        $(function () {
            $('#mytable').bootstrapTable(); // init via javascript
            $(window).resize(function () {
                $('#mytable').bootstrapTable('resetView');
            });
        });
    </script>
{% endblock %}