{% extends 'extends/base.html' %} 
{% block baseCss %}
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/css/custom/body.css">
<link rel="stylesheet" href="/static/css/custom/subrange.css">
<link rel="stylesheet" href="/static/css/custom/sidebar.css">
<link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block baseBody %}
{% include "include/sidebar.html"%}
<!-- Add your site or application content here -->

   
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
 {% include 'include/inspect_info_content.html' %}
      

        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% endblock %} {% block baseScript %}
    <script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/intercooler-1.2.1.min.js"></script>
    <script></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <!-- custom -->
    <script src="/static/js/custom/ipmi.js"></script>
    <!-- Menu Toggle Script -->
    <script src="/static/js/custom/sidebar.js"></script>
  <script src="/static/js/custom/search.js"></script>
  
    <!-- <script type="text/javascript">
     $(document).ready(function(){
         $("#mytable").find("tr").css("background-color", "#D1F7FA");
         $("#mytable").find("tr:odd").css("background-color", "#D1F0FA");
     });
     </script> -->
    <script>       
        /*         删除的模态*/
        function toDeleteHost(id, e) {
            /*            获取当前点击事件标签上的id*/

            var getID = e.parentNode.parentNode.children[0].innerHTML;
            console.log("getid = " + getID)
            // document.body.onclick = function (event) { 部分浏览器不支持此方法，改用如上parentNode方式。
            //     var id = event.target.id;
            //     console.log(id);
            if (getID) {
                var link = "/host_del-" + getID + '/';
                console.log(link);
                /*set the form action*/
                $('#delForm').attr('action', link)
                $("#spanId").html(getID);

            }

        };

    </script>



    <script>
        //     $(function(){
        //         //$('table tr:not(:first)').remove();
        //         var len = $('table tr').length;
        //         for(var i = 1;i<len;i++){
        //             $('table tr:eq('+i+') td:first').text(i);
        //         }

        // });
        function selectAll() {

            if ($("#select-all").is(":checked")) {

                $("[name='selected']").prop("checked", true);
                var allValue = queryCheckedValue();
            }
            else {

                $("[name='selected']").prop("checked", false);
            }

        }

        //获取所有选中checkbox的值

        function queryCheckedValue() {

            var arrayObj = new Array();

            $("input:checkbox[name='selected']:checked").each(function (i) {

                var val = $(this).val();

                arrayObj.push(val)
            });
            console.log(arrayObj)
            return arrayObj;

        }

        //所有的name为‘selected’的checkbox的值
        function noCheckedValue() {

            var str = "";
            $("input:checkbox[name='selected']").each(function (i) {

                var val = $(this).val();
                str = str + "," + val;
            });
            return str;
        }

        //判断所有的子checkbox全部选中时，总checkbox选中，否则，反之；
        function oneToAll() {

            var allChecked = 0;//所有选中checkbox的数量

            var all = 0;//所有checkbox的数量

            $("input:checkbox[name='selected']").each(function (i) {
                all++;
                if ($(this).is(":checked")) {
                    allChecked++;
                }

            });

            if (allChecked == all) {//相等时，则所有的checkbox都选中了，否则，反之；

                $("#select-all").prop("checked", true);

            } else {

                $("#select-all").prop("checked", false);

            }

        }

        // $(function(){


        //     $("table tr").click(function(){
        //         var input = $(this).find("input[type=checkbox]");//获取checkbox    

        //         //判断当前checkbox是否为选中状态
        //         if(input.is(":checked")){           
        //             input.attr("checked",false);
        //         }else{
        //             input.attr("checked",true);
        //         }

        //     })  
        // })
    </script>
    
     {% endblock %}