<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div><h1 style="text-align: left">{{what}}</h1></div>
                <div><a href="/download/"> <i class="fa fa-download"> 下载模板</i> </a></div>
                <form method="post" enctype="multipart/form-data" action="{% url 'import' %}"
                      class="table table-bordered form-horizontal">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="提交"/>
                </form>

            </div>

        </div>
    </div>


</body>
</html>
