html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

.body-main {
  display: -ms-flexbox;
  /*display: flex;*/
  -ms-flex-align: center;
  align-items: center;  
  padding-top: 30px;
  padding-bottom: 30px;  
  
}
#menu {
  position: relative;
  padding: 10px;
  float: left;
}
.form-signup {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}
.form-login {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
  }
  .password-reset {
    width: 100%;
    max-width: 350px;  
    padding: 15px;
    margin: auto;
  }
  .password-reset-done {
    width: 100%;  
    padding: 15px;
    margin: auto;
  }
  .btn-signup {
    width: 100%;
    max-width: 350px;    
    margin: auto;
  }
  .btn-login {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }
  .buttonHolder {
    padding: 15px;    
  }
  .btn-email {
    margin-top: 5px
  }
/*
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/
