    /*表格居中*/
.table tbody tr td{
    vertical-align: middle;          
}
/*按钮图标大小*/
.fa-plug{
    font-size:25px;
    text-align: center;
    color: green;
}        
.fa-power-off{
    font-size:22px;
    text-align: center;
    color: red;
}
.fa-recycle{
    font-size:22px;
    text-align: center;
    color:yellowgreen;
}
.fa-edit{
    font-size:22px;
    text-align: center;
    color:yellowgreen;
}
.fa-trash-alt{
    font-size:22px;
    text-align: center;
    color:yellowgreen;
}
.fixdhead{
    position:fixed;
}